<div class="row">
  <div
    class="col-xs-10"
    style="float: none; margin-left: auto; margin-right: auto;"
  >
    <div class="row">
      <div class="col-xs-12 payment-confirmation-individual-confirm-heading">
        Order Summary
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 payment-confirmation-individual-confirm-text">
        {{ formdata.firstname }}&nbsp;{{ formdata.lastname }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 payment-confirmation-individual-confirm-text">
        {{ formdata.street }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 payment-confirmation-individual-confirm-text">
        {{ formdata.city }},&nbsp;{{ formdata.state }}&nbsp;{{ formdata.zip }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 payment-confirmation-individual-confirm-text">
        {{ formdata.country }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 payment-confirmation-individual-confirm-text">
        Other Information: {{ formdata.other }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 payment-confirmation-individual-confirm-text">
        Credit Card Number Ending in: {{ last4 }}
        <!-- {{ formdata.creditcard }} -->
      </div>
    </div>

    <!-- Edit credit card number -->
    <!-- <div class="row"><div class="col-xs-12 text-left"><a href="">Edit</a></div></div>
<div class="row" style="height: 34px;"></div> -->

    <div class="row">
      <div class="col-xs-12 payment-confirmation-individual-confirm-text">
        Subscription Option: {{ selectedSubscriptionBucket.description }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 payment-confirmation-individual-confirm-text">
        Quantity: {{ info.numOfSubscribers }}
      </div>
    </div>
    <!-- Draw horizontal line! -->
    <hr />
    <div class="row">
      <div class="col-xs-12 payment-confirmation-individual-confirm-heading">
        Total: ${{ info.subtotal | number:2 }}
      </div>
    </div>
    <div class="row">
      <div
        class="col-xs-7"
        style="float: none; margin-right: auto; margin-left: auto;"
      >
        <div class="col-xs-6 text-center">
          <button
            type="button"
            class="btn btn-default btn-default-tair"
            ng-click="next('pay')"
          >
            BACK
          </button>
        </div>
        <div class="col-xs-6 text-center">
          <button
            type="button"
            class="btn btn-success btn-success-tair"
            
            ng-click="partnerId.toLowerCase() === 'tair' ? makeChargeBucket(true, 'thankyou') : makeCharge(true, 'thankyou')"
          >
            BUY
          </button>
        </div>
        <div class="col-xs-12 text-center" ng-if="loading">
            <div class="col-xs-12 text-center">Processing your payment. This may take some time.</div>
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        </div>
      </div>
    </div>
    <span style="color: red;" ng-bind="stripeerrors"></span>
  </div>
</div>
