<div ng-controller="IndividualInfoController">
	<form ng-submit="next()">
		<div class="row"><div class="col-md-12">
			Purchase academic license for individual use
		</div></div>
		<div class="row"><div class="col-md-12">
			Check <a href="">this list</a> to see if you already have access to Tair through your library.
			If your institution is subscribed and you are unable to access a page, please contact us at
			<a href="">info@phoenixbioinformatics.org</a>
		</div></div>
		<div class="row">
			<div class="col-md-6">
				Tair academic license for individual user
			</div>
			<div class="col-md-6">
				<div class="radio" ng-repeat="sub in subscriptions">
					<label>
						<input type="radio" name="licenseoptions" id="sub.id" ng-model="$parent.price" value="{{ sub.price }}" checked>
						{{ sub.period }}&nbsp;(${{ sub.price }})
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				*Number of subscribers<br>
				<input type="text" ng-model="formdata.numOfSubscribers" required/>
			</div>
			<div class="col-md-6">
				Recieve a 10% discount if you purchase 2 or more individual licenses together
			</div>
		</div>
		<div class="row"><div class="col-md-12">
			<div class="checkbox">
				<label>
					<input type="checkbox" value="" ng-model="formdata.userbool">
					I confirm that I am an academic or non-profit user. 
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox" value="" ng-model="formdata.termsbool">
					I agree to <a href="">Terms of Use</a>
				</label>
			</div>
		</div></div>
		<div class="row"><div class="col-md-12">
			<!-- Subtotal: {{ price | discount: formdata.numOfSubscribers }} --!>
			Subtotal: {{ price }}
		</div></div>
		<div class="row">
			<div class="col-md-4 text-center">
				<button type="button" class="btn btn-default btn-default-tair" ng-click="back()">BACK</button>
			</div>
			<div class="col-md-4 text-center">
				<button type="button" class="btn btn-default btn-default-tair" ng-click="resetIndividualInfoForm()">RESET FORM</button>
			</div>
			<div class="col-md-4 text-center">
				<button type="submit" class="btn btn-success btn-success-tair">NEXT</button>
			</div>
		</div>
	</form>
</div>
