<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div
        style="margin-left: auto; margin-right: auto;"
        class="panel panel-default metering-panel"
      >
        <div class="panel-heading metering-panel-heading">
          <div class="row">
            <div class="col-xs-1 text-right" style="float: right;">
              <a href="{{partner.homeUri}}" title="{{partner.name}} home page"
                ><img
                  src="{{partner.logoUri}}"
                  alt="{{partner.name}} logo"
                  style="height: 60px; float: right;"
              /></a>
            </div>
            <div
              class="col-xs-9"
              style="
                float: none;
                margin-left: auto;
                margin-right: auto;
                padding-top: 20px;
              "
            >
              <div class="row">
                <div class="col-xs-3 text-center">
                  <!-- http://stackoverflow.com/questions/26669964/how-to-debug-font-awesome-icons -->
                  <i
                    class="fa fa-exclamation-triangle fa-3x"
                    style="color: red;"
                  ></i>
                </div>
                <div class="col-xs-9 text-left">
                  <div class="row"></div>
                  <p ng-if="exceed=='abouttoexceed'">
                    You are about to exceed your limit of free available page
                    views this month.
                  </p>
                  <p ng-if="exceed=='exceeded'" style="color: red;">
                    You have exceeded your limit for this month
                  </p>
                  <p
                    ng-if="exceed=='blacklisted'"
                    style="color: red; font-size: 14px;"
                  >
                    Access to this link requires a subscription. Please access
                    this page from a subscribed institution or by logging in to
                    a subscribed user account.
                  </p>
                  <p
                    ng-if="exceed=='outofunits'"
                    style="color: red; font-size: 14px;"
                  >
                    You don't have enough usage units to access this content. Please get more usage units for your account.
                  </p>
                  <p ng-if="exceed=='nologin'" style="color: red; font-size: 14px;">
                    You are not logged in.
                  </p>
                  <p ng-if="exceed=='abouttorunout'" style="color: orange; font-size: 14px;">
                    You are about to run out of usage units.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body" style="padding-top: 0px;">
          <div class="row" style="height: 56px;"></div>
          <div class="row">
            <div class="col-xs-6">
              <div class="row" style="height: 34px;"></div>
              <div class="row">
                <div class="col-xs-offset-2 text-left metering-body-heading">
                  {{licenses[license].heading}}
                </div>
              </div>
              <div class="row">
                <ul class="col-xs-offset-2 col-xs-10 subscription-benefits">
                  <li ng-repeat="b in licenses[license].benefits">
                    {{b}}
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xs-6" style="padding-left: 73px;">
              <!-- To gain unlimited access, please -->
              <div class="row" style="height: 15px;"></div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="metering-body-text">
                    To gain unlimited access or purchase more usage units, please
                  </div>
                </div>
              </div>
              <div class="row" style="height: 8px;"></div>
              <!-- SUBSCRIBE BTN-->
              <div class="row">
                <div class="col-xs-12">
                  <a
                    href="#contentaccess/subscription?partnerId={{partnerId}}&redirect={{redirect}}"
                    class="btn btn-success btn-success-tair"
                    >SUBSCRIBE OR BUY</a
                  >
                </div>
              </div>

              <!-- Has your institution subscribed? -->
              <div class="row" style="height: 15px;"></div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="metering-body-text">
                    Has your institution subscribed?
                  </div>
                </div>
              </div>
              <div class="row" style="height: 8px;"></div>
              <!-- VIEW LIST BTN	-->
              <div class="row">
                <div class="col-xs-12">
                  <a
                    href="#contentaccess/list?partnerId={{partnerId}}"
                    class="btn btn-success btn-success-tair"
                    >VIEW LIST</a
                  >
                </div>
              </div>

              <!-- Already have a subscription? -->
              <div class="row" style="height: 15px;"></div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="metering-body-text">
                    Already have a subscription?
                  </div>
                </div>
              </div>
              <div class="row" style="height: 8px;"></div>
              <!--  LOGIN BTN	-->
              <div class="row">
                <div class="col-xs-12">
                  <a
                    href="#contentaccess/login?partnerId={{partnerId}}&redirect={{redirect}}"
                    class="btn btn-success btn-primary-tair"
                    >LOG IN</a
                  >
                </div>
              </div>

              <!--  KEEP BROWSING or BACK BTNS -->
              <div class="row" style="height: 10px;"></div>
              <div class="row">
                <div class="col-xs-12">
                  <a
                    href="{{ redirectNoEncode }}"
                    ng-if="exceed!='exceeded' && exceed!='blacklisted'|| exceed!='outofunits' || exceed!='nologin'"
                    ><button class="btn btn-default btn-default-tair">
                      KEEP BROWSING
                    </button></a
                  >
                  <!-- http://stackoverflow.com/questions/14815838/webkit-chrome-history-back-1-onclick-vs-href -->
                  <a
                    href="#"
                    onclick="window.history.back();return false;"
                    ng-if="exceed=='exceeded' || exceed=='blacklisted' || exceed=='outofunits' || exceed=='nologin'" 
                    ><button class="btn btn-default btn-default-tair">
                      BACK
                    </button></a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="height: 41px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div
        style="
          width: 697px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        "
      >
        <div class="row">
          <div class="col-xs-12 text-right" style="float: right;">
            <div class="col-xs-8">
              <div
                class="row text-right"
                style="padding-top: 15px; color: #bbc9cf;"
              >
                View our
                <a href="#contentaccess/guide?partnerId={{partnerId}}"
                  >Guide to Troubleshooting Access Issues</a
                >
                <br />
                <a href="#contentaccess/guide?partnerId={{partnerId}}"
                  >网站连接问题指南</a
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </div>
            </div>

            <div class="col-xs-2">
              <div
                class="row text-right"
                style="padding-top: 15px; color: #bbc9cf;"
              >
                Powered by
              </div>
            </div>

            <div class="col-xs-2">
              <img
                src="assets/Phoenix_Logo.png"
                style="height: 39px; width: 67px;"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
