<div class="row" style="height: 56px;"></div>
<div class="panel panel-default block-center" style="width: 860px;">
	<div class="panel-heading lt-institution-profile-panel-heading lt-font-bold lt-font-aliasing" style="font-size: 16px; color: #ffffff;">
		<div class="row">
			<div class="{{uiparams.partnercolwidth}}">
				LICENSE
			</div>
			<div class="{{uiparams.expcolwidth}}">
				EXPIRATION
			</div>
			<div class="{{uiparams.actionscolwidth}}">
				ACTIONS
			</div>
		</div>
	</div>
	<div class="panel-body" style="padding: 0px;">
		<div class="" style="padding:0px;margin:30px">
			<div ng-class="actionButtonAddCss(adding)" ng-click="reset(); adding=true" style="width:30%">
				<span class="glyphicon glyphicon-plus text-center" ng-class="actionButtonGlyphiconAddCss(adding)" style="margin-top:-1px"></span>
				<span class="text-center" ng-class="actionButtonLabelAddCss(adding)" style="margin-top:-1px">ADD SUBSCRIPTION</span>
			</div>
		</div>
		<div class="lt-institution-subscription-list" ng-repeat="p in listPartners(partners)">
			<div class="row">
				<div class="{{uiparams.partnercolwidth}}">
					<div class="row"><div class="col-xs-12 lt-font lt-theme-font-color lt-font-aliasing" style="font-size: 24px;">
						{{p.name}} <img src={{p.logoUri}} alt="partner" width="87" height="61">
					</div></div>
					<div class="row"><div class="col-xs-12 lt-font lt-font-aliasing" style="font-size: 16px; color: #858585;">
						{{p.description}}
					</div></div>
				</div>
				<div class="{{uiparams.expcolwidth}}">
					<div class="row">
						{{getExpDate(p.partnerId) | date:'fullDate'}}
					</div>
				</div>
				<div class="{{uiparams.actionscolwidth}}">
					<div class="row">
                    <button type="button" class="btn btn-default" ng-click="licenseAction(p.partnerId);" ng-disable>{{licenseButton("partner")}}</button>
                    </div>
				</div>
			</div>
		</div>
		<div class="lt-institution-subscription-list" ng-repeat="p in allSubscriptions">
            <div class="row">
                <div class="{{uiparams.partnercolwidth}}">
                    <div class="row"><div class="col-xs-12 lt-font lt-theme-font-color lt-font-aliasing" style="font-size: 24px;">
                        {{p.partnerId}}
                    </div></div>
                    <div class="row"><div class="col-xs-12 lt-font lt-theme-font-color lt-font-aliasing" style="font-size: 24px;">
                        SubscriptionId: {{p.subscriptionId}}
                    </div></div>
                </div>
                <div class="{{uiparams.expcolwidth}}">
                    <div class="row">
                        {{p.endDate | date:'fullDate'}}
                    </div>
                </div>
                <div class="{{uiparams.actionscolwidth}}">
                    <div class="row">
                    <button type="button" class="btn btn-default" ng-click="licenseAction_sub(p.partnerId,p.subscriptionId);">{{licenseButton("subscription")}}</button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
