<div class="row" style="height: 56px;"></div>
<div class="panel panel-default block-center" style="width: 860px;">
	<div class="panel-heading lt-institution-profile-panel-heading lt-font-bold lt-font-aliasing" style="font-size: 16px; color: #ffffff;">
		<div class="row">
			<div class="{{uiparams.partnercolwidth}}">
				LICENSE
			</div>
			<div class="{{uiparams.expcolwidth}}">
				EXPIRATION
			</div>
			<div class="{{uiparams.actionscolwidth}}">
				ACTIONS
			</div>
		</div>
	</div>
	<div class="panel-body" style="padding: 0px;">
		<div class="" style="padding:0px;margin:30px">
			<div ng-class="actionButtonAddCss(adding)" ng-click="reset(); adding=true" style="width:30%">
				<span class="glyphicon glyphicon-plus text-center" ng-class="actionButtonGlyphiconAddCss(adding)" style="margin-top:-1px"></span>
				<span class="text-center" ng-class="actionButtonLabelAddCss(adding)" style="margin-top:-1px">ADD SUBSCRIPTION</span>
			</div>
		</div>
		      <!-- Add IP Range -->
      <div class="lt-admin-groups-list-edit" style="height:100px" ng-class="groupsAddCss(adding)">
    <div class="col-xs-9" style="padding:0px">
      <select class="lt-admin-groups-list-label-edit" style="width:300px" ng-options="p.partnerId as p.name for p in partners" ng-model="newSubscription.partnerId">
        <option value="">-- choose a partner --</option>
      </select>
      <div><input class="lt-admin-groups-list-label-edit" style="width:300px" placeholder="Enter Party Id" ng-model="newSubscription.partyId"></input></div>
      <div class="lt-admin-groups-list-values">
        <span><input id="createStart" class="lt-ip-groups-list-start-edit" placeholder="Set Start Date" ng-model="newSubscription.start"></input></span>
        <span>-</span>
        <span><input id="createEnd" class="lt-ip-groups-list-end-edit" placeholder="Set End Date" ng-model="newSubscription.end"></input></span>
      </div>
    </div>
    <div class="col-xs-3 lt-admin-groups-list-glyphicon-container" style="padding:0px">
          <div class="pull-right glyphicon glyphicon-remove lt-glyphicon-green text-center" style="margin-right:10px" ng-click="$event.stopPropagation(); adding=false"></div>
          <div class="pull-right glyphicon glyphicon-ok lt-glyphicon-green text-center" style="margin-right:10px" ng-click="$event.stopPropagation(); createConfirm()"></div>
    </div>
      </div>
		<div class="lt-institution-subscription-list" ng-repeat="p in listPartners(partners)">
			<div class="row">
				<div class="{{uiparams.partnercolwidth}}">
					<div class="row"><div class="col-xs-12 lt-font lt-theme-font-color lt-font-aliasing" style="font-size: 24px;">
						{{p.name}} <img src={{p.logoUri}} alt="partner" width="87" height="61">
					</div></div>
					<div class="row"><div class="col-xs-12 lt-font lt-font-aliasing" style="font-size: 16px; color: #858585;">
						{{p.description}}
					</div></div>
				</div>
				<div class="{{uiparams.expcolwidth}}">
					<div class="row">
						{{getExpDate(p.partnerId) | date:'fullDate'}}
					</div>
				</div>
				<div class="{{uiparams.actionscolwidth}}">
					<div class="row">
                    <button type="button" class="btn btn-default" ng-click="licenseAction(p.partnerId);" ng-disabled>{{licenseButton("partner")}}</button>
                    </div>
				</div>
			</div>
		</div>
		<div class="lt-institution-subscription-list" ng-repeat="p in allSubscriptions">
            <div class="row">
                <div class="{{uiparams.partnercolwidth}}">
                    <div class="row"><div class="col-xs-12 lt-font lt-theme-font-color lt-font-aliasing" style="font-size: 24px;">
                        {{p.partnerId}}
                    </div></div>
                    <div class="row"><div class="col-xs-12 lt-font lt-theme-font-color lt-font-aliasing" style="font-size: 24px;">
                        SubscriptionId: {{p.subscriptionId}}
                    </div></div>
                </div>
                <div class="{{uiparams.expcolwidth}}">
                    <div class="row">
                        {{p.endDate | date:'fullDate'}}
                    </div>
                </div>
                <div class="{{uiparams.actionscolwidth}}">
                    <div class="row">
                    <button type="button" class="btn btn-default" ng-click="licenseAction_sub(p.partnerId,p.subscriptionId);">{{licenseButton("subscription")}}</button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
