<div ng-controller="BucketController">
	<div class="row">
	  <div
		class="col-xs-12"
		style="float: none; margin-left: auto; margin-right: auto;"
	  >
		<form ng-submit="validateAndSubmit() && next('pay')">
		  <div class="row">
			<div class="col-xs-12 info-individual-text">
			  Check
			  <a
				href="#contentaccess/list?partnerId={{partnerId}}"
				target="_blank"
				>this list</a
			  >
			  to see if you already have access to {{partner.name}} through your
			  library. If your institution is subscribed and you are unable to
			  access a page, please contact us at
			  <a href="mailto:info@phoenixbioinformatics.org"
				>info@phoenixbioinformatics.org</a
			  >
			</div>
		  </div>
		  <fieldset class="row">
			<legend class="col-xs-7 info-individual-text" style="margin-bottom: 10px">
			  {{partner.name}} bundles of usage units for individual use:
			</legend>
			<div style="margin-left: 30px">
				<div
				  class="radio"
				  ng-repeat="sub in subscriptions"
				  style="margin-top: 0px;"
				>
				  <label class="info-individual-text">
					<input
					  type="radio"
					  name="licenseoptions"
					  ng-model="$parent.bucketTypeId"
					  ng-value="{{ sub.bucketTypeId }}"
					  ng-change="setSelectedSubscriptionBucket(sub.bucketTypeId, sub.partnerId, sub.units, sub.price, sub.description, sub.discountPercentage)"
					  required
					  aria-required="true"
					/>
					{{ sub.description }}&nbsp;-&nbsp;
					<span ng-if="sub.discountPercentage > 0">
					  <span style="text-decoration: line-through;">${{ sub.price }} (USD)</span>
					  &nbsp;<span style="font-weight: bold;">${{ sub.price - (sub.price * sub.discountPercentage / 100) }} (USD)  (${{sub.discountPercentage}}% off first annual purchase)</span>
					</span>
					<span ng-if="!sub.discountPercentage || sub.discountPercentage === 0">
					  ${{ sub.price }} (USD)
					</span>
				  </label>
				</div>
			</div>
		  </fieldset>
		  <div class="row">
			<div class="col-xs-12">
			  <div class="checkbox">
				<label class="info-individual-text">
				  <input type="checkbox" value="" ng-model="userbool" required aria-required="true" />
				  My employer is an academic institution, a not-for-profit
				  research institution, or a government laboratory. <span aria-hidden="true">*</span>
				</label>
			  </div>
			  <div class="checkbox">
				<label class="info-individual-text">
				  <input type="checkbox" value="" ng-model="termsbool" required aria-required="true" />
				  I agree to
				  <a href="{{partner.termOfServiceUri}}" target="_blank"
					>Terms of Use</a
				  > <span aria-hidden="true">*</span>
				</label>
			  </div>
			</div>
		  </div>
		  <div class="row" style="height: 44px;"></div>
		  <div class="row">
			<div class="col-xs-12 text-center info-individual-subtotal">
			  Subtotal: ${{ get_total_buckets_price()|number:2 }} (USD)
			</div>
		  </div>
		  <span style="color: red;">{{errors}}</span>
		  <div class="row">
			<div class="col-xs-4 text-center">
			  <button
				type="button"
				class="btn btn-default btn-default-tair"
				ng-click="switchTab('landing')"
			  >
				BACK
			  </button>
			</div>
			<div class="col-xs-4 text-center">
			  <button
				type="button"
				class="btn btn-default btn-default-tair"
				ng-click="reset()"
			  >
				RESET FORM
			  </button>
			</div>
			<div class="col-xs-4 text-center">
			  <button
				type="submit"
				class="btn"
				ng-class=" validate() ? 'btn-success btn-success-tair' : 'btn-primary btn-primary-tair' "
			  >
				NEXT
			  </button>
			</div>
		  </div>
		</form>
	  </div>
	</div>
  </div>
  