<div class="row" style="height: 56px;"></div>
<div class="panel panel-default block-center" style="width: 860px;">
    <div class="panel-heading lt-institution-profile-panel-heading lt-font-bold lt-font-aliasing" style="font-size: 16px; color: #ffffff;">
        LICENSE RENEWAL
    </div>
    <div class="panel-body">
        <div class="row" style="height: 23px;"></div>
        <div class="row" style="height: 23px">
            <div class="{{uiparams.colwidth}} block-center text-center lt-font lt-font-color lt-font-aliasing" style="font-size: 36px;">
                Request Renewal for {{partner.name}}
            </div>
        </div>
        <div class="row" style="height: 34px;"></div>
        <form ng-submit="requestRenewal()">
        <div class="row">
            <div class="{{uiparams.colwidth}} block-center text-left">
                <div class="row"><div class="col-xs-12">
                    Comments(Optional)
                </div></div>
                <div class="row"><div class="col-xs-12">
                    <textarea style="resize: none; height: 90px; width: 755px;" ng-model="comments"></textarea>
                </div></div>
            </div>
        </div>
        <div class="row" style="height: 25px;"></div>
        <div class="row">
            <div class="{{uiparams.colwidth}} block-center text-center">
                <button type="button" ng-click="back();successMessage=''" class="btn btn-default" style="width: 160px;margin-right: 37px;">GO BACK</button>
                <button type="submit" class="btn btn-default" style="width: 160px;margin-left: 37px;">REQUEST RENEWAL</button>
            </div>
        </div>
        </form>
        <div class="row">
            <div class="{{uiparams.colwidth}} block-center text-left">
                <div class="row"><div class="col-xs-12">
                    {{successMessage}}
                </div></div>
            </div>
        </div>
    </div>
</div>
<!-- 
<div class="row" style="height: 56px;"></div>
<div class="panel panel-default block-center" style="width: 860px;">
	<div class="panel-heading lt-institution-profile-panel-heading lt-font-bold lt-font-aliasing" style="font-size: 16px; color: #ffffff;">
		LICENSE RENEWAL
	</div>
	<div class="panel-body" style="padding: 0px;">
		<div class="row">
			<div class="{{uiparams.colwidth}}">
				<form ng-submit="requestRenewal()">
					<div class="row"><div class="col-xs-12">
						{{partner.name}}
					</div></div>
					<div class="row"><div class="col-xs-12">
						Partner description
					</div></div>
					<textarea ng-model="comments"></textarea>
					<button type="button" ng-click="back();successMessage=''">GO BACK</button>
					<button type="submit">REQUEST RENEWAL</button>
				</form>
			</div>
		</div>
		<div class="row">{{successMessage}}</div>
	</div>
</div>
 -->
