<div class="container">
	<!-- Login Panel -->
	<div class="row">
		<div class="col-xs-12">
			<div style="margin-left: auto; margin-right: auto;" class="panel panel-default subscription-panel">
				<!-- Heading -->
				<div class="panel-heading subscription-panel-heading">
					<div class="row">
						<div class="col-xs-2" style="float: right">
							<img src={{partner.logoUri}} style="height:30px; float:right"></img>
						</div>
						<div class="col-xs-5 text-center" style="float: none; margin-left: auto; margin-right: auto; padding-top: 20px;">
							Log in
						</div>
					</div>
				</div>
				<!-- Body -->
				<div style="padding-top: 0px;" class="panel-body">
					<div ui-view="login"></div>
					<!-- <div ng-class="tab-page" ng-include="'contentaccess/login/form/form.html'" ng-if="tabPage == '1'"></div>
					<div ng-class="tab-page" ng-include="'contentaccess/login/success/success.html'" ng-if="tabPage == '2'"></div> -->
				</div>
			</div>
		</div>
	</div>
	<!-- Powered By -->
	<div class="row"><div class="col-xs-12">
		<div style="width: 697px; display: block; margin-left: auto; margin-right: auto;">
			<div class="row">
			  <div class="col-xs-4 text-right" style="float: right;">
			    <div class="col-xs-6" >
			      <div class="row text-right" style="padding-top:15px;color:#bbc9cf;">
			      Powered by 
			      </div> 
			    </div>
			    <div class="col-xs-6">
			      <img src="assets/Phoenix.png">
			    </div>
			  </div>
			</div>
		</div>
	</div></div>
</div>
