<div ng-controller="LandingController">
  <!-- Tabs -->
  <div class="row">
    <div class="col-xs-12">
      <!--<div class="row subscription-tab" ng-class="{ active: true }"></div>
      <div class="row subscription-tab-tag text-center active">Choose License</div>-->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-offset-2 text-left subscription-body-heading">
          <h2>{{licenses[license].heading}}</h2>
        </div>
      </div>
      <div class="row">
        <ul class="col-xs-offset-2 col-xs-10 subscription-benefits">
          <li ng-repeat="b in licenses[license].benefits">
            {{ b }}
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div
          class="col-xs-9"
          style="float: none; margin-left: auto; margin-right: auto;"
        >
          <div class="row">
            <div class="col-xs-12 subscription-licence-text text-center" style="margin-bottom: 20px;">
              <h2>Choose License Type</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div role="button" tabindex="0" ng-click="set_license('institution')" ng-class="{'highlight-license': license=='institution'}" class="license-option">
                <div class="row text-center" style="padding: 10px;">
                  <img class="img-to-inline-block" src="assets/Institutional.png" alt="" />
                </div>
                <div class="row">
                  <h2 class="text-center subscription-img-tags">
                    Institutional Academic
                  </h2>
                  <p class="text-center subscription-img-tags-tag">
                    Recommended
                  </p>
                </div>
              </div>
            </div>
            
            <div class="col-xs-6">
              <div role="button" tabindex="0" ng-click="set_license('individual')" ng-class="{'highlight-license': license=='individual'}" class="license-option">
                <div class="row text-center" style="padding: 10px;">
                  <img class="img-to-inline-block" src="assets/Individual.png" alt="" />
                </div>
                <div class="row">
                  <h2 class="text-center subscription-img-tags">
                    Individual Academic
                  </h2>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 30px;">
            <div class="col-xs-6">
              <div role="button" tabindex="0" ng-click="set_license('commercial')" ng-class="{'highlight-license': license=='commercial'}" class="license-option">
                <div class="row text-center" style="padding: 10px;">
                  <img class="img-to-inline-block" src="assets/Commercial.png" alt="" />
                </div>
                <div class="row">
                  <h2 class="text-center subscription-img-tags">
                    Commercial
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-xs-12 text-center">
      <button
        type="button"
        class="btn no-hover"
        ng-class=" license=='def' ? 'btn-primary btn-primary-tair' : 'btn-success btn-success-tair'"
        ng-click="next()"
      >
        NEXT
      </button>
    </div>
  </div>
</div>
