<div class="row" style="height:38px"></div>
  <form ng-submit="forgotPwd()">
    <div class="row">
     <div class="lt-login-description text-center" ng-show="invalidUsernameMsg">Sorry, that username is not found in our system. Please contact us at <a href="mailto:info@phoenixbioinformatics.org">info@phoenixbioinformatics.org</a> with any questions.</div>
     <div class="lt-login-description text-center">
    Please enter your username
     </div>
    <input class="text-left lt-login-input-box center-block" placeholder="username" ng-model="username"></input>
    </div>
    <a class="lt-login-forgot" href="" ng-click="forgotUsername()">forgot username?</a>
    <div class="row" style="height:32px"></div>
    <div class="row"><button class="text-center lt-login-login-btn center-block lt-color">Reset Password</button></div>
    <div class="row lt-gap"></div>
    <div class="row"><button type="button" class="text-center lt-login-req-btn center-block" ng-click="back()">Back</button></div>
    <div class="row" style="height:42px"></div>
</form>