<div>
  <!-- Left Panel -->
  <div class="col-xs-4" style="padding:0px">
    <div class="lt-admin-action-label">ACTIONS</div>
    <div ng-class="actionButtonAddCss(adding)" ng-click="reset(); adding=true" style="width:250px">
      <span class="glyphicon glyphicon-plus text-center" ng-class="actionButtonGlyphiconAddCss(adding)" style="margin-top:-1px"></span>
      <span class="text-center" ng-class="actionButtonLabelAddCss(adding)" style="margin-top:-1px">CREATE INSTITUTION</span>
    </div>
  </div>
  <!-- Right Panel -->
  <div class="col-xs-8 lt-admin-right-panel" style="padding:0px">
    <!-- Right Panel Header -->
    <div class="lt-admin-groups-title">
      <div>
      <span class="lt-admin-groups-title-filter" style="margin-left:22px">Sort By: </span>
        <a href = "" class="lt-admin-groups-title-filter" ng-repeat-start="sorting in sortings" ng-click="sortByField(sorting)"> By {{sorting.text}}</a>
        <span class="glyphicon glyphicon-triangle-top lt-admin-groups-title-glyphicon" ng-show="predicate==sorting.predicate&&!reverse" ng-click="sortByField(sorting)"></span>
        <span class="glyphicon glyphicon-triangle-bottom lt-admin-groups-title-glyphicon" ng-show="predicate==sorting.predicate&&reverse" ng-click="sortByField(sorting)"></span>
        <span class="glyphicon glyphicon-invisible lt-admin-groups-title-glyphicon" ng-hide="predicate==sorting.predicate" ng-repeat-end></span>
      </div>
    </div>

    <div class="lt-admin-right-subpanel">
      <!-- Description and Search Box -->
      <div class="lt-admin-groups-description">Add a new institution from the left action panel. Click on already existing institutions to edit or delete them.</div>
      <div class="lt-admin-groups-search">
        <span>Search</span>
        <span><input style="width:468px" placeholder="Enter institution name or ID number" ng-model="searchTerm"></input></span>
      </div>
        
      <!-- Add Institution -->
      <div class="lt-admin-groups-list-edit" ng-class="groupsAddCss(adding)" style="height: 180px">
	<div class="col-xs-9" style="padding:0px">
          <div><input class="lt-admin-groups-list-label-edit" style="width:300px" placeholder="Enter Institution Name" ng-model="newInstitution.name"></input></div>
          <div><input class="lt-admin-groups-list-label-edit" style="width:300px" placeholder="Enter Username (optional)" ng-model="newInstitution.username"></input></div>          
          <div><input class="lt-admin-groups-list-label-edit" style="width:300px" placeholder="Enter Password (optional)" ng-model="newInstitution.password" type="password"></input></div>
          <div><input class="lt-admin-groups-list-label-edit" style="width:300px" placeholder="Enter Email (optional)" ng-model="newInstitution.email"></input></div>
		      <div><input class="lt-admin-groups-list-label-edit" style="width:300px" placeholder="Enter Country" ng-model="newInstitution.country" uib-typeahead="country as country.name for country in countries | filter:{name:$viewValue} | limitTo:8"></input></div>
	</div>
	<div class="col-xs-3 lt-admin-groups-list-glyphicon-container" style="padding:0px">
          <div class="pull-right glyphicon glyphicon-remove lt-glyphicon-green text-center" style="margin-right:10px" ng-click="$event.stopPropagation(); adding=false"></div>
          <div class="pull-right glyphicon glyphicon-ok lt-glyphicon-green text-center" style="margin-right:10px" ng-click="$event.stopPropagation(); addConfirm()"></div>
	</div>
      </div>
      
      <!-- Institution List -->
      <div ng-repeat="institution in institutions | filter:searchTerm">
	<div class="row" ng-class="groupsListCss(institution.state)" ng-mouseover="groupsMoveOver(institution)" ng-mouseleave="groupsMoveOut(institution)" ng-click="enterInstitution(institution)">
	  <div class="col-xs-9" style="padding:0px">
        <div><p class="lt-admin-groups-list-label" ng-show="!(institution.state=='edit')">{{institution.label}}</p></div>       
        <div><input ng-class="groupsListLabelCss(institution.state)" placeholder="Add an optional label for this institution" style="width:300px" ng-model="institution.label" ng-show="institution.state=='edit'"></input></div>
        <div><p class="lt-admin-groups-list-label" ng-show="!(institution.state=='edit')">{{institution.name}}</p></div>
        <div><input ng-class="groupsListLabelCss(institution.state)" placeholder="Institution name" style="width:300px" ng-model="institution.name" ng-show="institution.state=='edit'"></input></div>
        <div><select ng-class="groupsListLabelCss(institution.state)" style="width:300px" ng-model="institution.country" ng-show="institution.state=='edit'" ng-options="country.countryId as country.name for country in countries"></select></div>
        <div class="row lt-admin-groups-list-values" style="vertical-align:middle">
              <input class="col-xs-3 lt-admin-groups-list-values-input" ng-model="institution.partyId" ng-readonly="true"></input>
              <div class="col-xs-7" style="vertical-align:middle"><input type="checkbox" ng-model="institution.display" ng-disabled="!(institution.state=='edit')"><span class="lt-admin-groups-list-label" style="margin-left:5px">Display</span></div>
        </div>
        <div><p class="lt-admin-groups-error" ng-show="!institution.hasIpRange">This institution doesn't have any active IP addresses.</p></div>
      </div>
	  <div class="col-xs-3" style="margin-top:18px;padding:0px" ng-class="groupsListGlyphiconCss(institution.state)">
	    <div class="delete-label">Delete?</div>
	    <div class="pull-right glyphicon text-center" ng-class="groupsListGlyphiconRightCss(institution.state)" style="margin-right:10px" ng-click="$event.stopPropagation(); right(institution);"></div>
	    <div class="pull-right glyphicon text-center" ng-class="groupsListGlyphiconLeftCss(institution.state)" style="margin-right:10px" ng-click="$event.stopPropagation(); left(institution);"></div>
	  </div>
	</div>
      </div>
    </div>
  </div>

</div>
