<div class="row" style="height: 56px;"></div>
<div class="panel panel-default block-center" style="width: 860px;">
	<div class="panel-heading lt-institution-profile-panel-heading lt-font-bold lt-font-aliasing" style="font-size: 16px; color: #ffffff;">
		EDIT SUBSCRIPTION
	</div>
	<div class="panel-body" style="padding: 0px;">
		<div class="row">
			<div class="{{uiparams.colwidth}}">
				<form ng-submit="editSubscription()">
					<div class="row"><div class="col-xs-12">
						{{partner.name}}
					</div></div>
					<div class="row"><div class="col-xs-12">
						{{partner.description}}
					</div></div>
					<div class="row"><div class="col-xs-12">
				        <label class="control-label">Set expiration date:</label>
				    </div></div>
				    <div class="row"><div class="col-xs-12">
			            <input type='text' class="" id='datepicker' placeholder="Please choose a date" ng-model="setEndDate"/>			
					</div></div>
					<div class="row"><div class="col-xs-12">
					<textarea ng-model="comments" placeholder="Comments:"></textarea>
					</div></div>
					<div class="row"><div class="col-xs-12">
					<button type="button" ng-click="back()">GO BACK</button>
					<button type="submit">CONFIRM EDIT</button>
					</div></div>
				</form>
			</div>
		</div>
	</div>
</div>
