<!-- Header Panel -->
<div class="lt-navbar-top lt-color">
  <div class="row" style="height:20px"></div>
  <div class="center-block lt-navbar-panel">   
    <div class="col-xs-4 lt-navbar-tool-text" ng-click="home()">
    <img class="lt-navbar-img" src="assets/Phoenix.png"/>
      ADMIN TOOL
    </div>
    <div class="col-xs-4 pull-right">
      <div class="pull-right lt-navbar-status" ng-click="logout()">Log out</div>
      <div class="pull-right lt-navbar-email">{{email}}</div>
    </div>
  </div>
</div>
<div class="lt-navbar-bottom">
  <div class="row" style="height:95px"></div>
  <div class="lt-navbar-bottom-text text-center">{{title}}</div>
</div>

<div class="lt-content-width center-block" ui-view="role"></div>

<!-- Power By -->
<div class="row" style="height:100px"></div>
<div class="center-block">
  <div class="col-xs-6" >
    <div class="row text-right" style="padding-top:15px;color:#bbc9cf;">
      Powered by
    </div>
    </div>
  <div class="col-xs-6">
    <img src="assets/Phoenix.png">
  </div>
</div>
