<div class="row" style="height: 40px;"></div>
<div class="row"><div class="col-md-12 payment-confirmation-individual-confirm-heading">
	Order Summary
</div></div>
<div class="row" style="height: 24px;"></div>
<div class="row"><div class="col-md-12 payment-confirmation-individual-confirm-text"> 
	{{ formdata.firstname }}&nbsp;{{ formdata.lastname }}
</div></div>
<div class="row"><div class="col-md-12 payment-confirmation-individual-confirm-text">
	{{ formdata.street }}
</div></div>
<div class="row"><div class="col-md-12 payment-confirmation-individual-confirm-text">
	{{ formdata.city }},&nbsp;{{ formdata.state }}&nbsp;{{ formdata.zip }}
</div></div>
<div class="row" style="height: 24px;"></div>
<div class="row"><div class="col-md-12 payment-confirmation-individual-confirm-text">
	Credit Card Number Ending in: {{ last4 }} <!-- {{ formdata.creditcard }} -->
</div></div>
<div class="row" style="height: 20px;"></div>

<!-- Edit credit card number --!>
<!-- <div class="row"><div class="col-md-12 text-left"><a href="">Edit</a></div></div>
<div class="row" style="height: 34px;"></div> --!>

<div class="row"><div class="col-md-12 payment-confirmation-individual-confirm-text">
	Subscription Term: {{ period }}
</div></div>
<div class="row"><div class="col-md-12 payment-confirmation-individual-confirm-text">
	Quantity: {{ quantity }}
</div></div>
<div class="row" style="height: 27px;"></div>
<!-- Draw horizontal line! --!>
<hr/>
<div class="row" style="height: 27px;"></div>
<div class="row"><div class="col-md-12 payment-confirmation-individual-confirm-text">
	Subtotal: ${{ subtotal }}
</div></div>
<div class="row"><div class="col-md-12 payment-confirmation-individual-confirm-text">
	Fees: ${{ fees }}
</div></div>
<div class="row" style="height: 20px;"></div>
<div class="row"><div class="col-md-12 payment-confirmation-individual-confirm-heading">
	Total: ${{ fees + subtotal | number:2 }}
</div></div>
<div class="row" style="height: 36px;"></div>
<div class="row">
	<div class="col-md-6 text-right">
		<button type="button" class="btn btn-default btn-default-tair" ng-click="set_pageNum(1)">BACK</button>
	</div>
	<div class="col-md-6 text-left">
		<button type="button" class="btn btn-success btn-success-tair" ng-click="makeCharge(true)">BUY</button>
	</div>
</div>
<div class="row" style="height: 18px;"></div>
<span style="color: red;" ng-bind="stripeerrors"></span>
<div class="row" style="height: 18px;"></div>
