<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- Header -->
      <div style="margin-left: auto; margin-right: auto;" class="panel panel-default subscription-panel">
	<div class="panel-heading subscription-panel-heading">
	  <div class="row">
	    <div class="col-xs-2" style="float: right">
	      <img src={{partner.logoUri}} style="height:30px; float:right"></img>
            </div>
            <div class="col-xs-8 text-center" style="float: none; margin-left: auto; margin-right: auto; padding-top: 20px;">
	      Academic Institutional {{partner.name}} Subscribers
	    </div>
	  </div>
	</div>
	<!-- Body -->
        <div style="padding-top: 30px;" class="panel-body">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Academic users in mainland China are covered by a national subscription through the National Science and Technology Library (NSTL). Academic users in Switzerland are covered by a national subscription through the Swiss Institute of Bioinformatics (SIB). If you are an academic user in China or Switzerland, you do not need to purchase an individual or lab subscription. </p>
	  <br/>
	  <form class="form-horizontal">
	  <div class="form-group col-xs-6 pull-right">
	  <label class="col-xs-3 control-label">Search:</label>
	      <div class="col-xs-9">  
		  <input class="form-control" ng-model='searchTerm' ng-model-options='{ debounce: 500 }' placeholder="organization/country name">
		  </input>
		  </div>
	  </div>
	  </form>
	  <div ng-repeat="institution in institutions | filter:searchTerm track by $index" class="text-center">
	    <div><span class="col-xs-8 text-left">{{institution[0]}}</span><span class="col-xs-4 text-left">{{institution[1]}}</span></div>
	  </div>
	</div>
      </div>
      <!-- Powered By -->
      <div class="row">
	<div class="col-xs-12">
          <div style="width: 697px; display: block; margin-left: auto; margin-right: auto;">
            <div class="row">
              <div class="col-xs-4 text-right" style="float: right;">
                <div class="col-xs-6" >
                  <div class="row text-right" style="padding-top:15px;color:#bbc9cf;">
                    Powered by
                  </div>
                </div>
                <div class="col-xs-6">
                  <img src="assets/Phoenix.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
