<div style="height: 42px;" class="row"></div>
	<div class="row">

        <!-- PW-147: YM: Removing subscription-related panel (replacing it with left and right padding panels to keep the dimensions of the Login form).
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-offset-2 text-left subscription-body-heading">{{licenses[license].heading}}</div>
			</div>
			<div class="row" style="height: 5px;"></div>
			<div class="row">
				<ul class="col-xs-offset-2 col-xs-10 subscription-benefits">
					<li ng-repeat="b in licenses[license].benefits">
						{{ b }}
					</li>
				</ul>
			</div>
			<div class="row" style="height: 14px;"></div>
			<div class="row"><div class="col-xs-offset-2">
			    <a href="#contentaccess/subscription?partnerId={{partnerId}}&redirect={{redirect}}"><button type="button" class="btn btn-success btn-success-tair">SUBSCRIBE</button></a>
			</div></div>
		</div>
        -->

        <div class="col-xs-3"/><!-- Left padding -->
        
		<div class="col-xs-6">
			<div class="row">
				<div class="col-xs-10" style="float: none; margin-left: auto; margin-right: auto;">
					<form method="POST" ng-submit="login()">
						
						<div class="row" style="height: 35px;"></div>
						
						<!-- UID FIELD -->
						<div class="row">
							<div class="col-xs-14 text-center form-group">
							<input type="text" name="user" class="form-control" ng-model="formdata.user" placeholder="Username" style="width: 100%; border-radius: 0px;" required>
							</div>
						</div>
						
						<!-- PWD FIELD -->
						<div class="row">
							<div class="col-xs-14 text-left form-group">
							<input type="password" name="password" class="form-control" ng-model="formdata.password" placeholder="Password" style="width: 100%; border-radius: 0px;" required>
							<font size="2"><a href="" ng-click="resetpwd()">Reset password</a></font>
							</div>
						</div>
						
						<!-- LOG IN BTN -->
						<div class="row">
							<div class="col-xs-14 text-center form-group">
							<button type="submit" class="btn btn-primary btn-primary-tair" style="width: 100%;">LOG IN</button>
							</div>
						</div>
						
						<!-- contact us -->
						<div class="row">
							<div class="col-xs-14 text-left form-group">
							<font size="2">Please <a href="mailto:curator@arabidopsis.org?subject=Forgot Username&body=Please help with forgotten username!">contact us</a> if you forgot your username or your email has changed.</font>
							</div>
						</div>
						
						<div class="row">
							<div class="col-xs-14 text-left form-group">
							<font size="2"> {{partner.registerText}} <a href="{{partner.registerUri}}">TODO</a></font>
							</div>
						</div>
						
					</form>
				</div>
			</div>
		</div>
    
        <div class="col-xs-3"/><!-- Right padding -->
    
	</div>
<div style="height: 50px;" class="row"></div>
