<div ng-controller="IndividualController">
  <!-- Tabs -->
  <!--<div class="row">
    <div class="col-xs-3" ng-repeat="tab in tabs">
      <div class="row subscription-tab" ng-class="{ active: currentTab == tab.id }"></div>
      <div class="row subscription-tab-tag text-center" ng-class="{ active: currentTab == tab.id }">{{ tab.text }}</div>
    </div>
  </div>-->
  <div ui-view="individual"></div>
  <!-- <div class="tab-page" ng-include="templates.term" ng-if="currentTab == 'term'"></div>
  <div class="tab-page" ng-include="templates.pay" ng-if="currentTab == 'pay'"></div>
  <div class="tab-page" ng-include="templates.confirm" ng-if="currentTab == 'confirm'"></div>
  <div class="tab-page" ng-include="templates.thankyou" ng-if="currentTab == 'thankyou'"></div> -->
</div>
