<div ng-controller="CommercialRegisterController">
  <div class="row">
    <div
      class="col-xs-9"
      style="float: none; margin-right: auto; margin-left: auto;"
    >
      <div class="row" style="height: 45px;"></div>
      <div class="row">
        <div class="col-xs-12 info-commercial-heading text-left">
          Contact us about a commercial license for {{partner.name}}
        </div>
      </div>
      <div class="row" style="height: 45px;"></div>
      <form ng-submit="validateAndSubmit() && send()">
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="firstName" class="info-commercial-form-label"
                >*First Name</label
              >
              <input
                type="text"
                class="form-control"
                id="firstName"
                ng-model="formdata.firstName"
                required
              />
            </div>
          </div>
          <div class="col-xs-6">
            <div class="form-group">
              <label for="lastName" class="info-commercial-form-label"
                >*Last Name</label
              >
              <input
                type="text"
                class="form-control"
                id="lastName"
                ng-model="formdata.lastName"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6">
            <div class="form-group">
              <label for="email" class="info-commercial-form-label"
                >*Email</label
              >
              <input
                type="email"
                class="form-control"
                id="email"
                ng-model="formdata.email"
                placeholder="xyz@host.com"
                required
              />
            </div>
          </div>
          <div class="col-xs-6">
            <div class="row">
              <div class="col-xs-12">
                <div class="form-group">
                  <label for="commercial" class="info-commercial-form-label"
                    >*Company Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="commercial"
                    ng-model="formdata.institution"
                    placeholder="e.g. BioData Corp. (not BDC)"
                    required
                    custom-validation-error="formdata.institution.length < 6 && formdata.institution.length > 0 ? 'Please enter the full name of your company.' : ''"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="height: 40px;"></div>
        <div class="row">
          <div class="col-xs-4 info-commercial-form-label">
            I am interested in:
          </div>
          <div class="col-xs-8">
            <div class="checkbox" style="margin-top: 0px;">
              <label class="info-commercial-form-label">
                <input
                  type="checkbox"
                  ng-model="formdata.individualLicense"
                  data-toggle="checkbox-x"
                />
                An individual subscription
              </label>
            </div>
            <div class="checkbox">
              <label class="info-commercial-form-label">
                <input
                  type="checkbox"
                  ng-model="formdata.companyLicense"
                  data-toggle="checkbox-x"
                />
                A company-wide subscription
              </label>
            </div>
          </div>
        </div>
        <div class="row" style="height: 30px;"></div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label
                for="comments"
                class="info-commercial-form-label"
                style="
                  font-family: Arial, Helvetica, sans-serif;
                  -webkit-font-smoothing: antialiased;
                "
                >Comments:</label
              >
              <textarea
                type="text"
                class="form-control"
                id="comments"
                style="resize: none; height: 78px;"
                ng-model="formdata.comments"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="row" style="height: 22px;"></div>
        <span style="color: red;">{{errors}}</span>
        <div class="row" style="height: 22px;"></div>
        <div class="row">
          <div
            class="col-xs-4 text-center"
            style="padding-left: 30px; padding-right: 0px;"
          >
            <button
              type="button"
              class="btn btn-default btn-default-tair"
              ng-click="switchTab('landing')"
            >
              BACK
            </button>
          </div>
          <div class="col-xs-4 text-center">
            <button
              type="button"
              class="btn btn-default btn-default-tair"
              ng-click="reset()"
            >
              RESET FORM
            </button>
          </div>
          <div
            class="col-xs-4 text-center"
            style="padding-left: 0px; padding-right: 30px;"
          >
            <button
              type="submit"
              class="btn"
              ng-class="validate() ? 'btn-success btn-success-tair' : 'btn-primary btn-primary-tair'"
              ng-click="setInfoCommercialFormError(validate())"
            >
              SUBMIT
            </button>
          </div>
        </div>
        <div class="row" style="height: 30px;"></div>
      </form>
    </div>
  </div>
</div>
