/* All your CSS goes here */

body {
	padding-top: 60px;
}

.img-to-inline-block {
	display: inline-block;
}

.metering-panel {
	width: 697px;
	margin-bottom: 0px;
}

.panel-default>.metering-panel-heading {
	background-color: #bbc9cf;
	color: #ffffff;
	font-size: 18px;
	height: 133px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.metering-body-heading {
	color: #666666;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.metering-body-text {
	color: #666666;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}


.btn-success-tair {
	border-radius: 0px;
	border-width: 1 1 1 1px;
	border-color: #b9c841;
	background-color: #b9c841;
	color: #ffffff;
	width: 148px;
	height: 32px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.btn-success-tair:hover,i .btn-success-tair:active, .btn-success-tair:focus {  
	background-color: #c6d936;
	border-color: #c6d936; 
}

.btn-primary-tair {
	border-radius: 0px;
	border-width: 1 1 1 1px;   
	border-color: #bbc9cf;
	background-color: #bbc9cf;
	color: #ffffff; 
	width: 148px;
	height: 32px; 
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased; 
}

.btn-primary-tair:hover, .btn-primary-tair:active, .btn-primary-tair:focus {
	background-color: #cedde4;
	border-color: #cedde4;
}

.btn-default-tair {
	border-radius: 0px;  
	border-width: 1 1 1 1px;
	border-color: #bbc9cf; 
	color: #bbc9cf; 
	width: 148px; 
	height: 32px; 
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.btn-default-tair:hover,active {
	background-color: #bbc9cf;
	border-color: #bbc9cf;
	color: #ffffff;
}

/******************Subscription Page*********************/
.subscription-panel {                                                       
        width: 700px;                                                                                 
        margin-bottom: 0px;                                   
}

.panel-default>.subscription-panel-heading {
        background-color: #bbc9cf;
        color: #ffffff;
        font-size: 24px;
        height: 94px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.subscription-body-heading {
        color: #666666; 
        font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.subscription-benefits {
	font-size: 15px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.subscription-img-tags {
	font-size: 18px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}               

.subscription-img-tags-tag {
	font-size: 13px;
	color: #00d86c;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
} 

.subscription-licence-text {
	font-size: 15px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.subscription-tab {
	height: 8px;
	background-color: #d1dfe6;
} 

.subscription-tab.active {
	background-color: #97a2a7;
}

.highlight-license {
	background-color: #f2f2f2;
	border-radius: 8px;
}

/******************** Info Commercial **************************/

.info-commercial-heading {
	font-size: 22px; 
	font-family: Arial, Helvetica, sans-serif; 
	-webkit-font-smoothing: antialiased;
}

.info-commercial-subheading {
	font-size: 15px;   
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased; 
}

.info-commercial-form-label {
	font-size: 15px;     
	color: #97a0a5;
	font-family: Arial, Helvetica, sans-serif; 
	-webkit-font-smoothing: antialiased;
}

/******************** Confirmation Commercial *****************/
.paymentConfirmationCommercial-heading {
	font-size: 24px;
	color: #b8c63f;
	font-family: Arial, Helvetica, sans-serif; 
	-webkit-font-smoothing: antialiased;   
}

.paymentConfirmationCommercial-text {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased; 
}

/******************** Info Institution ********************/

.info-institution-heading {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased; 
}

.info-institution-form-label {
	font-size: 15px;
	color: #97a0a5;
	font-family: Arial, Helvetica, sans-serif;  
	-webkit-font-smoothing: antialiased; 
}

/******************** Confirmtion Institution **************/

.payment-confirmation-institution-heading {
	font-size: 24px;
	color: #b8c63f;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.payment-confirmation-institution-text {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;  
}

/******************* Info Individual *****************/

.info-individual-heading {
	font-size: 24px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;    
	-webkit-font-smoothing: antialiased; 
}

.info-individual-text {
	font-size: 15px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif; 
	-webkit-font-smoothing: antialiased; 
}

.info-individual-discount {
	font-size: 15px;
	color: #00d96d;
	font-family: Arial, Helvetica, sans-serif;  
	-webkit-font-smoothing: antialiased;
}

.info-individual-subtotal {
	font-size: 24px;
	color: #666666;  
	font-family: Arial, Helvetica, sans-serif; 
	-webkit-font-smoothing: antialiased;  
}

/************************** Payment Individual 1 *****************/

.payment-confirmation-individual-heading {
	font-size: 24px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif; 
	-webkit-font-smoothing: antialiased;
}

.payment-confirmation-individual-label {
	font-size: 15px;
	color: #97a0a5;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;        
	-webkit-font-smoothing: antialiased; 
}

.payment-confirmation-individual-footer {
	font-size: 15px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif; 
	-webkit-font-smoothing: antialiased; 
}

/************** Payment Individual 2 ***************/

.payment-confirmation-individual-confirm-heading {
	font-size: 24px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;  
	-webkit-font-smoothing: antialiased;
}

.payment-confirmation-individual-confirm-text {
	font-size: 15px;
	color: #97a0a5;
	font-family: Arial, Helvetica, sans-serif; 
	-webkit-font-smoothing: antialiased;   
}

hr {
	width: 260px;
	height: 1px;
	color: #dddddd;
	float: left;
	margin: 0px;
}

/************ Payment Indivivual 3 ****************/

.payment-confirmation-individual-thankyou-heading {
	font-size: 24px;
	color: #b8c63f;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.payment-confirmation-individual-thankyou-text {
	font-size: 14px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}
>>>>>>> f0dd2859984eb245a5db45a525c57ce4bbc6f663

.paymentConfirmationCommercial-heading {
	font-size: 24px;
	color: #b8c63f;
	font-family: Arial, Helvetica, sans-serif; 
	-webkit-font-smoothing: antialiased;   
}

.paymentConfirmationCommercial-text {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased; 
}

/******************** Info Institution ********************/

.info-institution-heading {
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased; 
}

.info-institution-form-label {
	font-size: 15px;
	color: #97a0a5;
	font-family: Arial, Helvetica, sans-serif;  
	-webkit-font-smoothing: antialiased; 
}

/******************** Confirmtion Institution **************/

.payment-confirmation-institution-heading {
	font-size: 24px;
	color: #b8c63f;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.payment-confirmation-institution-text {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;  
}
