/* All your CSS goes here */

body {
	padding-top: 60px;
}

.img-to-inline-block {
	display: inline-block;
}

.metering-panel {
	width: 697px;
	margin-bottom: 0px;
}

.panel-default>.metering-panel-heading {
	background-color: #bbc9cf;
	color: #ffffff;
	font-size: 18px;
	height: 133px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.metering-body-heading {
	color: #666666;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.metering-body-text {
	color: #666666;
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}


.btn-success-tair {
	border-radius: 0px;
	border-width: 1 1 1 1px;
	border-color: #b9c841;
	background-color: #b9c841;
	color: #ffffff;
	width: 148px;
	height: 32px;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.btn-success-tair:hover,i .btn-success-tair:active, .btn-success-tair:focus {  
	background-color: #c6d936;
	border-color: #c6d936; 
}

.btn-primary-tair {
	border-radius: 0px;
	border-width: 1 1 1 1px;   
	border-color: #bbc9cf;
	background-color: #bbc9cf;
	color: #ffffff; 
	width: 148px;
	height: 32px; 
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased; 
}

.btn-primary-tair:hover, .btn-primary-tair:active, .btn-primary-tair:focus {
	background-color: #cedde4;
	border-color: #cedde4;
}

.btn-default-tair {
	border-radius: 0px;  
	border-width: 1 1 1 1px;
	border-color: #bbc9cf; 
	color: #bbc9cf; 
	width: 148px; 
	height: 32px; 
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.btn-default-tair:hover,active {
	background-color: #bbc9cf;
	border-color: #bbc9cf;
	color: #ffffff;
}

/******************Subscription Page*********************/
.subscription-panel {                                                       
        width: 700px;                                                                                 
        margin-bottom: 0px;                                   
}

.panel-default>.subscription-panel-heading {
        background-color: #bbc9cf;
        color: #ffffff;
        font-size: 24px;
        height: 94px;
}

.subscription-body-heading {
        color: #666666; 
        font-size: 24px;
}

.subscription-benefits {
	font-size: 15px;
	color: #666666;
}

.subscription-img-tags {
	font-size: 18px;
	color: #666666;
}                

.subscription-licence-text {
	font-size: 15px;
	color: #666666;
}

.subscription-tab {
	height: 8px;
	background-color: #d1dfe6;
} 

.subscription-tab .active {
	background-color: #97a2a7;
}
