<!-- TODO: some input fields to standardize request email. -->
<!-- <div class="col-xs-4">Full name: </div>
<div class="col-xs-8"><input ng-model="fullName"></input></div>
<div class="col-xs-4">Email: </div>
<div class="col-xs-8"><input ng-model="email"></input></div>
<div class="col-xs-4">Name of institution: </div>
<div class="col-xs-8"><input ng-model="insName"></input></div>
<div class="col-xs-4">Position: </div>
<div class="col-xs-8"><input ng-model="position"></input></div>

<div class="col-xs-12"><button ng-click="sendEmail()">Request account</button></div> -->
<p>
  To request an account, please email us (<a
    href="mailto:info@phoenixbioinformatics.org"
    >info@phoenixbioinformatics.org</a
  >) the following information: your full name, email address, name of
  institution and position.
</p>
<button class="btn btn-default" ng-click="back()">Back</button>
