<div ng-controller="IndividualPayController">
	<div class="row">
		<div class="col-md-10" style="float: none; margin-left: auto; margin-right: auto;">
			<div class="page" ng-include="'subscription/paymentConfirmation/individual/pay/pay.html'" ng-if="pageNum==1"></div>
			<div class="page" ng-include="'subscription/paymentConfirmation/individual/confirm/confirm.html'" ng-if="pageNum==2"></div>
			<div class="page" ng-include="'subscription/paymentConfirmation/individual/thankyou/thankyou.html'" ng-if="pageNum==3"></div>
		</div>
	</div>
</div>
