<div class="container">
	<!-- Subscription Panel --!>
	<div class="row">
		<div class="col-md-12">
			<div style="margin-left: auto; margin-right: auto;" class="panel panel-default subscription-panel">
				<!-- Heading --!>
				<div class="panel-heading subscription-panel-heading">
					<div style="height: 20px;" class="row"></div>
					<div class="row text-center">
						Subscribe
					</div>
				</div>
				<!-- Body --!>
				<div style="padding-top: 0px;" class="panel-body">
					<!-- Tabs --!>
					<div class="row">
						<div class="col-md-4" ng-repeat="tab in tabs">
							<div class="row subscription-tab" ng-class="{ active: currentTab == tab.id }"></div>
							<div class="row subscription-tab-tag text-center">{{ $index + 1 }}.&nbsp;&nbsp;{{ tab.text }}</div>
						</div>
					</div>

					<!-- Tab pages --!>
					<div class="tab-page" ng-include="templates.chooseTab" ng-if="currentTab == 'chooseTab'"></div>
					<div class="tab-page" ng-if="currentTab == 'infoTab'">
						<p>Tab included</p>
						<div class="paymentTab" ng-repeat="(key, value) in templates.infoTab" ng-include="value" ng-if"license == key"></div>
					</div>
					<div class="tab-page" ng-if="currentTab == 'paymentConfirmationTab'">
						<div class="confirmationTab" ng-repeat="(key, value) in templates.paymentConfirmationTab" ng-include="value" ng-if="license == key"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Powered By --!>
	<div class="row"><div class="col-md-offset-8 col-md-4">
		<div class="subscription-powered-by-text">Powered by <img src="assets/Phoenix.png"></div>
	</div></div>
</div>
