<div class="row" style="height: 56px;"></div>
<div class="panel panel-default block-center" style="width: 860px;">
	<div class="panel-heading lt-institution-profile-panel-heading lt-font-bold lt-font-aliasing" style="font-size: 16px; color: #ffffff;">
		PROFILE SETTINGS
	</div>
	<div class="panel-body">
		<div class="row" style="height: 40px;"></div>
		<div class="row">
			<div class="{{uiparams.colwidth}} block-center text-center lt-font lt-font-color lt-font-aliasing" style="font-size: 36px;">
				{{user.username}}
			</div>
		</div>
		<div class="row" style="height: 6px;"></div>
		<div class="row" style="height: 54px;"></div>
        <div class="row">
            <div class="{{uiparams.colwidth}} block-center">
                <div class="row">
                    <div class="col-xs-5 block-left">
                        <div class="row text-left lt-font lt-font-aliasing" style="font-size: 16px; color: #868686;"><div class="col-xs-12">
                            Institution Info:
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="{{uiparams.colwidth}} block-center">
				<div class="row">
					<div class="col-xs-5 block-left">
						<div class="row text-left lt-font lt-font-aliasing" style="font-size: 16px; color: #868686;"><div class="col-xs-12">
							Institution Name
						</div></div>
						<div class="row text-left"><div class="col-xs-12"><!-- PW-161 name -->
						    <p ng-show="!edit">{{user.name}}</p>
							<input type="text" class="lt-institution-profile-input" ng-model="user.name" ng-hide="!edit" ng-class=" edit == false ? 'lt-no-border' : 'lt-with-border' "></input>
						</div></div>
					</div>
					<div class="col-xs-5 block-right">
						<div class="row text-left lt-font lt-font-aliasing" style="font-size: 16px; color: #868686;"><div class="col-xs-12">
							Country
						</div></div>
						<div class="row text-left"><div class="col-xs-12">
						    <p ng-show="!edit">{{getCountryNameById(user.country)}}</p>
                            <select class="lt-institution-profile-input" ng-model="user.country" ng-show="edit" ng-options="country.countryId as country.name for country in countries | orderBy:'name'" required><option value="">--Choose Country--</option></select>
						</div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="height: 40px;"></div>
        <div class="row">
            <div class="{{uiparams.colwidth}} block-center">
                <div class="row">
                    <div class="col-xs-5 block-left">
                        <div class="row text-left lt-font lt-font-aliasing" style="font-size: 16px; color: #868686;"><div class="col-xs-12">
                            Contact Person:
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
		<div class="row">
            <div class="{{uiparams.colwidth}} block-center">
                <div class="row">
                    <div class="col-xs-5 block-left">
                        <div class="row text-left lt-font lt-font-aliasing" style="font-size: 16px; color: #868686;"><div class="col-xs-12">
                            First Name
                        </div></div>
                        <div class="row text-left"><div class="col-xs-12">
                            <p ng-show="!edit">{{user.firstName}}</p>
                            <input type="text" class="lt-institution-profile-input" ng-model="user.firstName" ng-hide="!edit" ng-class=" edit == false ? 'lt-no-border' : 'lt-with-border' "></input>
                        </div></div>
                    </div>
                    <div class="col-xs-5 block-right">
                        <div class="row text-left lt-font lt-font-aliasing" style="font-size: 16px; color: #868686;"><div class="col-xs-12">
                            Last Name
                        </div></div>
                        <div class="row text-left"><div class="col-xs-12">
                            <p ng-show="!edit">{{user.lastName}}</p>
                            <input type="text" class="lt-institution-profile-input" ng-model="user.lastName" ng-hide="!edit" ng-class=" edit == false ? 'lt-no-border' : 'lt-with-border' "></input>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
		<div class="row" style="height: 40px;"></div>
		<div class="row">
			<div class="{{uiparams.colwidth}} block-center">
				<div class="row">
					<div class="col-xs-5 block-left">
						<div class="row text-left lt-font lt-font-aliasing" style="font-size: 16px; color: #868686;"><div class="col-xs-12">
							Email
						</div></div>
						<div class="row text-left"><div class="col-xs-12">
						    <p ng-show="!edit">{{user.email}}</p>
							<input type="email" class="lt-institution-profile-input" ng-model="user.email" ng-hide="!edit" ng-class=" edit == false ? 'lt-no-border' : 'lt-with-border' "></input>
						</div></div>
						<div class="row" style="height: 10px;"></div>
						<div class="row text-left"><div class="col-xs-12">
							<input type="email" class="lt-institution-profile-input" ng-model="email_validate" ng-show="edit ? true : false" ng-disabled="!edit" ng-class=" edit == false ? 'lt-no-border' : 'lt-with-border' " placeholder="Confirm email"></input>
						</div></div>
					</div>
				</div>
			</div>
		</div>
        <div class="row" style="height: 40px;"></div>
        <div class="row">
            <div class="{{uiparams.colwidth}} block-center">
                <div class="row">
                    <div class="col-xs-5 block-left">
                        <div class="row text-left lt-font lt-font-aliasing" style="font-size: 16px; color: #868686;"><div class="col-xs-12">
                            Credential:
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="{{uiparams.colwidth}} block-center">
				<div class="row">
                    <div class="col-xs-5 block-left">
						<div class="row text-left lt-font lt-font-aliasing" style="font-size: 16px; color: #868686;"><div class="col-xs-12">
							User Name
						</div></div>
						<div class="row text-left"><div class="col-xs-12">
						    <p ng-show="!edit">{{user.username}}</p>
							<input type="text" class="lt-institution-profile-input" ng-model="user.username" ng-trim="true" ng-hide="!edit" ng-class=" edit == false ? 'lt-no-border' : 'lt-with-border' "></input>
						</div></div>
					</div>
					<div class="col-xs-5 block-right">
						<div class="row text-left lt-font lt-font-aliasing" style="font-size: 16px; color: #868686;"><div class="col-xs-12">
							Password
						</div></div>
						<div class="row text-left"><div class="col-xs-12">
							<input type="password" class="lt-institution-profile-input" ng-model="user.password" ng-hide="!edit" ng-class=" edit == false ? 'lt-no-border' : 'lt-with-border' "></input>
						</div></div>
						<div class="row" style="height: 10px;"></div>
						<div class="row text-left"><div class="col-xs-12">
							<input type="password" class="lt-institution-profile-input" ng-model="password_validate" ng-show="edit ? true : false" ng-disabled="!edit" ng-class=" edit == false ? 'lt-no-border' : 'lt-with-border' " placeholder="Confirm password"></input>
						</div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="height: 55px;"></div>
		<div class="row">	
			<div class="{{uiparams.colwidth}} block-center text-center">
				<button type="button" class="btn btn-default" ng-click="edit_fields();" ng-hide="role=='consortium'">{{ edit==true && 'Save' || 'Edit' }}</button>
				<span style="width: 10px;"></span>
				<button type="button" class="btn btn-default" ng-show="edit" ng-click="cancel();">Cancel</button>
			</div>
		</div>
	</div>
</div>
