<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
<div>
  <!-- Left Panel -->
  <div class="col-xs-4" style="padding:0px">
    <div class="lt-admin-action-label">ACTIONS</div>
    <div ng-class="actionButtonAddCss(ipAdding)" ng-click="reset(ipAdding); ipAdding=true" style="width:220px">
      <span class="glyphicon glyphicon-plus text-center" ng-class="actionButtonGlyphiconAddCss(ipAdding)" style="margin-top:-1px"></span>
      <span class="text-center" ng-class="actionButtonLabelAddCss(ipAdding)" style="margin-top:-1px">ADD IP RANGE</span>
    </div>
    <div ng-class="actionButtonAddCss(subAdding)" ng-click="reset(subAdding); subAdding=true" style="width:220px">
      <span class="glyphicon glyphicon-plus text-center" ng-class="actionButtonGlyphiconAddCss(subAdding)" style="margin-top:-1px"></span>
      <span class="text-center" ng-class="actionButtonLabelAddCss(subAdding)" style="margin-top:-1px">ADD SUBSCRIPTION</span>
    </div>
    <div ng-class="actionButtonAddCss(insAdding)" ng-click="reset(insAdding); addInstitutionBox()" style="width:220px">
      <span class="glyphicon glyphicon-plus text-center" ng-class="actionButtonGlyphiconAddCss(insAdding)" style="margin-top:-1px"></span>
      <span class="text-center" ng-class="actionButtonLabelAddCss(insAdding)" style="margin-top:-1px">NEW INSTITUTION</span>
    </div>
    <div ng-class="actionButtonAddCss(consEdit)" ng-click="reset(consEdit); consortiumAction()" style="width:220px">
      <span class="glyphicon glyphicon-edit text-center" ng-class="actionButtonGlyphiconAddCss(consEdit)" style="margin-top:-1px"></span>
      <span class="text-center" ng-class="actionButtonLabelAddCss(consEdit)" style="margin-top:-1px">EDIT CONSORTIUM</span>
    </div>
  </div>
  
  <!-- Right Panel -->
  <div class="col-xs-8 lt-admin-right-panel" style="padding:0px">
    <!-- Right Panel Header -->
    <div class="lt-admin-groups-title">
      <div class="col-xs-4 lt-admin-groups-title-label" style="padding:0px">{{partyInfo.name}}</div>
      <div class="col-xs-6 pull-right" style="padding:0px">
        <a href = "" class="lt-admin-groups-title-filter" ng-repeat-start="sorting in sortings" ng-click="sortByField(sorting)"> By {{sorting.text}}</a>
        <span class="glyphicon glyphicon-triangle-top lt-admin-groups-title-glyphicon" ng-show="sortField==sorting.sortField&&!reverseField"></span>
        <span class="glyphicon glyphicon-triangle-bottom lt-admin-groups-title-glyphicon" ng-show="sortField==sorting.sortField&&reverseField"></span>
        <span class="glyphicon glyphicon-invisible lt-admin-groups-title-glyphicon" ng-hide="sortField==sorting.sortField" ng-repeat-end></span>
      </div>    
    </div>

    <!-- Switch institution -->
    <div class="lt-admin-right-subpanel">
    <div class="text-center" style="padding:0px"><input ng-class="groupsListLabelCss(searchstate)" style="width:80%"
    type="text" ng-model="institution" uib-typeahead="institution as institution.name for institution in institutions | filter:{name:$viewValue} | limitTo:8"
    ng-readonly="!(searchstate=='edit')" ng-click="searchstate='edit'" ng-blur="searchstate='selected'" placeholder="Select instituion"></input></div>

    <!-- Add Subscription -->
      <div class="lt-admin-groups-list-edit" ng-class="groupsAddCss(subAdding)">
    <div class="col-xs-9" style="padding:0px">
      <select class="lt-admin-groups-list-label-edit" style="width:300px" ng-options="p.partnerId as p.name for p in partners" ng-model="newSubscription.partnerId">
        <option value="">-- choose a partner --</option>
      </select>
      <div class="lt-admin-groups-list-values">
        <span><input id="createStart" class="lt-ip-groups-list-start-edit" placeholder="Set Start Date" ng-model="newSubscription.start"></input></span>
        <span>-</span>
        <span><input id="createEnd" class="lt-ip-groups-list-end-edit" placeholder="Set End Date" ng-model="newSubscription.end"></input></span>
      </div>
    </div>
    <div class="col-xs-3 lt-admin-groups-list-glyphicon-container" style="padding:0px">
          <div class="pull-right glyphicon glyphicon-remove lt-glyphicon-green text-center" style="margin-right:10px" ng-click="$event.stopPropagation(); subAdding=false"></div>
          <div class="pull-right glyphicon glyphicon-ok lt-glyphicon-green text-center" style="margin-right:10px" ng-click="$event.stopPropagation(); createSubConfirm()"></div>
    </div>
      </div>

<!-- Subscription List -->
        <div class="lt-institution-subscription-list" ng-repeat="p in listPartners(partners)" style="height:100px;width:571px">
            <div class="row">
                <div class="{{uiparams.partnercolwidth}}">
                    <div class="row"><div class="col-xs-12 lt-font lt-theme-font-color lt-font-aliasing" style="font-size: 24px;">
                        {{p.name}} <img src={{p.logoUri}} alt="partner" width="87" height="61">
                    </div></div>
                    <div class="row"><div class="col-xs-12 lt-font lt-font-aliasing" style="font-size: 16px; color: #858585;">
                        {{p.description}}
                    </div></div>
                </div>
                <div class="{{uiparams.expcolwidth}}">
                    <div class="row">
                        {{getExpDate(p.partnerId) | date:'fullDate'}}
                    </div>
                </div>
                <div class="{{uiparams.actionscolwidth}}">
                    <div class="row">
                    <button type="button" class="center-block btn btn-default" ng-click="licenseAction(p.partnerId);" ng-disabled>{{licenseButton(p.partnerId)}}</button>
                    </div>
                </div>
            </div>
        </div>
        
<!-- Consortia's Subscription List -->
<div ng-repeat="consortium in consortiums">
        <div class="lt-institution-subscription-list" ng-repeat="p in listPartners(partners)" style="height:100px;width:571px">
            <div class="row">
                <div class="{{uiparams.partnercolwidth}}">
                    <div class="row"><div class="col-xs-12 lt-font lt-theme-font-color lt-font-aliasing" style="font-size: 24px;">
                        {{p.name}} <img src={{p.logoUri}} alt="partner" width="87" height="61">
                    </div></div>
                    <div class="row"><div class="col-xs-12 lt-font lt-font-aliasing" style="font-size: 16px; color: #858585;">
                        {{p.description}}
                    </div></div>
                </div>
                <div class="{{uiparams.expcolwidth}}">
                    <div class="row">
                        {{getConsExpDate(consortium, p.partnerId) | date:'fullDate'}}
                    </div>
                </div>
                <div class="{{uiparams.actionscolwidth}}">
                    <div class="row">
                    <button type="button" class="center-block btn btn-default" ng-click="licenseAction(p.partnerId);" ng-disabled>UC Consortium</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        
      <!-- Consortium List -->
      <div ng-repeat="consortium in consortiums | filter:searchTerm">
    <div class="row" ng-class="groupsListCss(consortium.state)" ng-mouseover="groupsMoveOver(consortium)" ng-mouseleave="groupsMoveOut(consortium)" ng-click="enterConsortium(consortium)">
      <div class="col-xs-9" style="padding:0px">
        <div><input ng-class="groupsListLabelCss(consortium.state)" style="width:300px" ng-model="consortium.name" ng-readonly="!(consortium.state=='edit')"></input></div>
        <div class="lt-admin-groups-list-values">
              <input class="lt-admin-groups-list-values-input" ng-model="consortium.partyId" ng-readonly="true"></input>
        </div>
      </div>
      <div class="col-xs-3" style="margin-top:18px;padding:0px" ng-class="groupsListGlyphiconCss(consortium.state)">
        <div class="pull-right glyphicon text-center" ng-class="groupsListGlyphiconRightCss(consortium.state)" style="margin-right:10px" ng-click="$event.stopPropagation(); right(consortium);"></div>
        <div class="pull-right glyphicon text-center" ng-class="groupsListGlyphiconLeftCss(consortium.state)" style="margin-right:10px" ng-click="$event.stopPropagation(); left(consortium);"></div>
      </div>
    </div>
      </div>
            
      <!-- Description and Search Box -->
      <div class="lt-admin-groups-description">Add new IP ranges from the left action panel. Click on already existing IP ranges to edit or delete them.</div>
      <div class="lt-admin-groups-search">
        <span>Search</span>
        <span><input style="width:468px" placeholder="Enter institution name or ID number" ng-model="searchTerm"></input></span>
      </div>
        
      <!-- Add IP Range -->
      <div class="lt-admin-groups-list-edit" ng-class="groupsAddCss(ipAdding)">
	<div class="col-xs-9" style="padding:0px">
          <div><input class="lt-admin-groups-list-label-edit" style="width:300px" placeholder="Enter IP Range Label (optional)" ng-model="newRange.name"></input></div>
	  <div class="lt-admin-groups-list-values">
            <span><input class="lt-ip-groups-list-start-edit" placeholder="Starting IP" ng-model="newRange.start"></input></span>
	    <span>-</span>
	    <span><input class="lt-ip-groups-list-end-edit" placeholder="Ending IP" ng-model="newRange.end"></input></span>
	  </div>
	</div>
	<div class="col-xs-3 lt-admin-groups-list-glyphicon-container" style="padding:0px">
          <div class="pull-right glyphicon glyphicon-remove lt-glyphicon-green text-center" style="margin-right:10px" ng-click="$event.stopPropagation(); ipAdding=false"></div>
          <div class="pull-right glyphicon glyphicon-ok lt-glyphicon-green text-center" style="margin-right:10px" ng-click="$event.stopPropagation(); addConfirm()"></div>
	</div>
      </div>
      
      <!-- IP Range List -->
      <div ng-repeat="iprange in ipranges | filter:searchTerm | orderBy:sortField:reverseField">
	<div class="row" ng-class="groupsListCss(iprange.state)" ng-mouseover="groupsMoveOver(iprange)" ng-mouseleave="groupsMoveOut(iprange)">
	  <div class="col-xs-9" style="padding:0px">
	    <div><input ng-class="groupsListLabelCss(iprange.state)" style="width:300px" ng-model="iprange.name" ng-readonly="!(iprange.state=='edit')"></input></div>
	    <div class="lt-admin-groups-list-values">
	      <span><input ng-class="groupsListStartCss(iprange.state)" ng-model="iprange.start" ng-readonly="!(iprange.state=='edit')"></input></span> 
	      <span>-</span> 
	      <span><input ng-class="groupsListEndCss(iprange.state)" ng-model="iprange.end" ng-readonly="!(iprange.state=='edit')"></input></span>
	  </div>
	  </div>
	  <div class="col-xs-3" style="margin-top:18px;padding:0px" ng-class="groupsListGlyphiconCss(iprange.state)">
	    <div class="pull-right glyphicon text-center" ng-class="groupsListGlyphiconRightCss(iprange.state)" style="margin-right:10px" ng-click="$event.stopPropagation(); right(iprange);"></div>
	    <div class="pull-right glyphicon text-center" ng-class="groupsListGlyphiconLeftCss(iprange.state)" style="margin-right:10px" ng-click="$event.stopPropagation(); left(iprange);"></div>
	  </div>
	</div>
      </div>
    </div>
  </div>

</div>
